body {
    background-color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1vh;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 99vh;
}

h1{
    margin-top: 0pt;
    margin-bottom: 0.5em;
}

p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1pt #aaaaaa solid; */
    background-color: ghostwhite;
    border-radius: 0.3em;
    /* border-style: inset; */
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0pt;
    color: gray;
}

i {
    width: 2em;
    text-align: center;
}

span {
    margin-right: 1em;
}

.line-num {
    display: inline-flex;
    /* border-width: 2pt;
    border-style: solid; */
    border-radius: 0.5em;
    width: 1.5em;
    height: 1.5em;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.stop {
    border-radius: 1em;
    background-color: white;
    padding: 1em;
}

#stops-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5em;
}
